<nav class="navbar">
  <h1>Angular Modules</h1>

  <ul>
<!--    routerLinkActive="active" === add class .active if we are on page, which open this button-->
<!--    [routerLinkActiveOptions]="{exact: true}" === coincidence of routes must be exact the same-->
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/about">About</a></li>
  </ul>
</nav>

<div class="container">
  <div class="card">

    <router-outlet></router-outlet>

  </div>
</div>


