<link rel="stylesheet" href="posts.component.css"><h1>Posts page</h1>

<!--  [queryParams]="{showId: true} === add query parameters to route (http://localhost:4200/posts?showId=true)-->
<!--ActivatedRoute.queryParams.subscribe((params) => //here params is queryParams )-->
<!--[fragment]="'fragment'" === like anchor in html (http://localhost:4200/posts?showId=true#fragment)-->
<button class="btn" [routerLink]="['/posts']"
        [queryParams]="{showId: !this.showId}"
        [fragment]="'fragment'"
>
  Show Ids (with query parameters)
</button>
<button class="btn" (click)="showIdAndAddFragmentProgram()">
  Show Ids (program)
</button>

<div class="card" *ngFor="let post of postsService.posts">
  <h4>
<!--    [routerLink]="['/posts', post.id]" === [routerLink]="[`/posts/${post.id}`]"-->
    <a [routerLink]="['/posts', post.id]">
      <strong *ngIf="this.showId">(ID {{post.id}})</strong>
      {{post.title}}
    </a>
  </h4>
</div>
