<h1 appColor>{{ 'Home page' | pageName }}</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis impedit laborum, libero nulla sequi
  similique tempore. Expedita, inventore repellendus!</p>

<hr>

<input type="text" class="form-control" [(ngModel)]="titleForModal">
<button class="btn" (click)="this.showModal = true">Show modal</button>

<div
  *ngIf="this.showModal"
>
  <app-modal-static
    [title]="this.titleForModal"
    (closeModal)="this.showModal = false; this.titleForModal = ''"
  ></app-modal-static>
</div>
